/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    height: 100%;
}

body{
    background-color: $dark;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

.frames{
    // max-width: $small;
    width: 100%;    
}

.wrapper{
    padding: $base-unit;
    margin: 0 auto;
    position: relative;

    &-flex{
        display: flex;
        max-width: 640px;
        margin: 0 auto;

        @include desktop{
            max-width: 1024px;
        }
    }

    &-center{
        justify-content: center;
    }
}

.content{
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    // max-width: 400px;
}

.padding{
    padding: $base-unit;
    
    &--double{
        padding: $base-unitx2;        
    }
}

.site{
    // background-image: url(/assets/bg.jpg);
    // background-size: cover;
    // background-position-y: center;
    // box-shadow: inset 0px 0px 200px 200px black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero{
    min-height: 70vh;
    overflow: hidden;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include desktop{
        min-height: 50vh;
    }

    picture{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        z-index: 0;

        img{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
        }
    }

    header{
        flex-grow: 0;
        z-index: 1;
    }

    &-content{
        z-index: 1;
        flex-grow: 2;
    }
}

.copy{
    // max-height: calc(100vh - 100px);
    // overflow-y: scroll;
    // font-family: 'Montserrat', sans-serif;
    // position: relative;

    // &-scroll{
    //     padding: 0 40px 30vh 40px;
    //     max-width: 400px;
    // }

    // strong, h1, h2{
    //     color: #FFF;
    //     font-weight: 100;
    // }

    // li{
    //     padding-bottom: 1.4rem;
    // }

    // img{
    //     width: 100%;
    // }

    // .key {
    //     border: 1px solid rgba(255, 255, 255, 0.6);
    //     border-radius: 6px;
    //     font-size: 10px;
    //     padding: 4px 7px 2px;    
    // }

    // &:after{
    //     content: '';
    //     height: 30vh;
    //     width: 100%;
    //     display: block;
    //     position: absolute;
    //     z-index: 4;
    //     pointer-events: none;
    //     bottom: 0;
    //     background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    // }
}
