/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    height: 100%;
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    padding: $base-unit;
    margin: 0 auto;
    position: relative;

    &-flex{
        display: flex;
    }
}

.content{
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
}

.padding{
    padding: $base-unit;
    
    &--double{
        padding: $base-unitx2;        
    }
}

.site{
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position-y: center;
    box-shadow: inset 0px 0px 200px 200px black;
}