/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
body{
    font-family: 'Special Elite', cursive;
    color: $grey-dark;
    font-size: 14px;
    line-height: 1.5;
    
    @include tablet{
        font-size: 20px;
    }
}

h1,h2,h3,h4,h5{
    padding: 0;
    font-weight: normal;
}

a{
    color: $accent;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.page-title{
    // padding: 0 0 $base-unit;
    margin: 0;
}

.font{

    &--primary{
        font-family: 'Special Elite', cursive;
    }

    &--secondary{
        font-family: 'Nixie One', cursive;
    }
}