/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
body{
    font-family: 'Roboto Slab', serif;
    color: $grey-dark;
    font-size: 14px;
    line-height: 1.5;
    
    @include tablet{
        font-size: 20px;
    }
}

h1,h2,h3,h4,h5{
    padding: 0;
    font-weight: normal;
}

a{
    color: $primary-colour;
    text-decoration: none;

    // &:hover{
    //     text-decoration: underline;
    // }
}

.page-title{
    // padding: 0 0 $base-unit;
    margin: 0;
}

.font{

    &--primary{
        font-family: 'Roboto Slab', serif;
    }

    &--secondary{
        font-family: 'Roboto Slab', serif;
    }
}

.size{

    &-small{
        font-size: .8em;
    }

    &-large{
        font-size: 1.2em;
    }

    &-xlarge{
        font-size: 2em;
    }
}