/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

.color{

    &--primary{
        color: $primary-colour;
    }

    &--secondary{
        color: $secondary-colour;
    }

    &--light{
        color: $grey-light;
    }

    &--dark{
        color: $dark;
    }

    &--accent{
        color: $accent;
    }
}

.bg{

    &--light{
        background-color: $light;
    }
}

.inline-list{
    list-style: none;
    // padding: 0;

    &__item{
        display: inline-block;
    }
}

.pl-0{
    padding-left: 0;
}