/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


// Colours
$primary-colour: #FF5C00;
$secondary-colour: #111c3a;
$secondary-highlight: #192850;
$grey-light: #E5E5E5;
$grey-dark: #D8D8D8;
$light: #FFF;
$accent: #FF0000;

$dark: #2B2B2B; // Background
// $link: #688BE3;

$style-1-primary: #dadada;
$style-1-secondary: #bdbdbd;
$style-1-accent: #42b596;
$style-1-accent-light:#4dc3a4;


// Spacing
$base-unit: 12px;
$base-unitx2: $base-unit * 2;
$base-unitx4: $base-unit * 4;
$half-unit: $base-unit/2;

$x-small: 320px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$x-large: 1400px;