/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.choices{

    margin-bottom: 0;
    padding: 0;
    list-style-position: inside;

    &--item{

        &.not-chosen{
            pointer-events: none;
            display: none;
        }

        &.is-chosen{
            
            pointer-events: none;

            a{
                color: $grey-dark;
            }
        }
    }
}

.frames{

    width: 100%;
    background-color: $dark;
    z-index: 1;
    padding-top: 2rem;

    .title{
        background-color: $dark;
        position: sticky;
        top: 0;
        margin: 0;
        z-index: 2;
        padding: $space/2 $space;
    }
}

.frame-content{
    padding: $space $space 0 $space;
    position: relative;
    transition:
    opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;        
    opacity: 1;
        
    &.frame-loading{
        opacity: .1;
    }
    

    img{
        width: auto;
        max-width: 100%;
        padding-top: $space;
    }

    a.choice{
        padding: $space/2 0;
        font-size: 1.2em;
    }
}