/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.choices{

    margin-left: 20px;
    padding: 0;

    &--item{

        &.not-chosen{
            pointer-events: none;
            display: none;
        }

        &.is-chosen{
            
            pointer-events: none;
            opacity: .8;

            a{
                color: $grey-dark;
            }
        }
    }
}

.frames{

    width: 100%;
    background-color: $dark;
    z-index: 1;
    padding-top: 2rem;
    position: relative;

    .title{
        background-color: $dark;
        position: sticky;
        top: 0;
        margin: 0;
        z-index: 2;
        padding: $space/2 $space;

        &:after{
            content: "";
            width: 100%;
            height: 20px;
            display: block;
            position: absolute;
            bottom: -10px;
            background-image: url("../../../assets/theme/edge.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            left: 0;
        }
    }

    &:before{
        content: "";
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        top: -10px;
        background-image: url('../../../assets/theme/edge.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}

.frame-content{
    padding: $space $space 0 $space;
    position: relative;
    transition:
    opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;        
    opacity: 1;
        
    &.frame-loading{
        opacity: .1;
    }    

    img{
        width: auto;
        max-width: 100%;
    }

    a.choice{
        padding: $space/2 0;
        font-size: 1.2em;
        display: block;
    }

    picture{
        margin: 1rem 0;
    }
}

// .edges{

//     position: relative;
//     display: block;

//     &:before, &:after{
//         content: "";
//         width: 100%;
//         height: 20px;
//         display: block;
//         position: absolute;
//         background-image: url('../../../assets/theme/edge.svg');
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
    
//     &:before{
//         top: -10px;
//         background-position: bottom;
//     }

//     &:after{
//         bottom: -4px;
//         background-position: top;
//     }
// }

