/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    background-color: #000;

    &__wrapper{
        display: flex;
        justify-content: center;
    }
}