---
---
{% include head.html %}

<div class="hero">
    {% include header.html %}
    <picture class="image-fixed" id="hero-image">
        <img src="{{'/assets/intro.jpeg' | relative_url }}" alt="">
    </picture>
    <div class="hero-content wrapper-flex">
        <div class="padding">
            <h1>An experimental open source platform for writing and publishing choice-driven stories.</h1>
        </div>
    </div>
</div>

<main>    
    <div class="wrapper-flex padding">
        {{ content }}
    </div>
</main>
{% include footer.html %}