---
---
{% include head.html %}
<main class="content">

    <div class="hero hero--story wrapper-flex">

        {% include header.html %}

        {% for image in site.static_files %}
            {% capture story_cover %}assets/stories/{{ page.slug }}/cover{% endcapture %}
            {% if image.path contains story_cover %}

            <picture>
                <img src="{{ image.path }}" alt="">
            </picture>

            {% endif %}
        {% endfor %}

        <div class="hero-content wrapper-flex">
            <div class="text-center text-shadow color--light">
                <h1 class="size-xlarge">{{ page.title }}</h1>
                <p class="">{{ page.author }}</p>
            </div>
        </div>

    </div>

    <div id="app" class="wrapper-flex">
        <div class="frames padding" id="frames"></div>    
    </div>
    
    <template id="frame-template">
        <section class="frame">
            <h1 class="title"></h1>
            <p class="copy font--secondary"></p>
            <ul class="frame-choices choices font--secondary"></ul>
        </section>
    </template>
    
    <template id="choice-template">
        <li class="choices--item"><a href="" title="" class="choice" onclick="kron.choiceClick(event)"></a></li>
    </template>
</main>
{% include footer_story.html %}
